.header {
  padding: 16px 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;

  @media (min-width: 720px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}
